@import url(http://fonts.googleapis.com/css?family=Abel|Allura);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/*
	Affinity by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;

 background: #C55300 url(images/img01.png) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #737373;
        
}
/*body input,body textarea,body select {
    
    border-radius:12px;
    width:180px;
    height:40px;
    font-size: 12pt;
    background-color: #ab5a21;
    color:white;
    margin:10px 0;
    
}*/




h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

p {
	line-height: 140%;
}

#imagesize{
    width: 225px;
    height: 300px;
        
}

a {
	color: #D1551F;
}

strong {
	font-weight: 700;
	color: #2A2A2A;
}

/* Wrapper */

#wrapper {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
	background: #D47028 url(images/img02.png) repeat;
}



/* Copyright */

#copyright {
	overflow: hidden;
	padding: 50px 0px;
}

#copyright p {
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 11pt;
	color: #AD7253;
}

#copyright a {
	color: #AD7253;
}

#copyright a:hover {
	text-decoration: none;
}


/* Button Style */

/*.button-style a {
	display: block;
	width: 174px;
	height: 50px;
	margin-top: 30px;
	background: url(images/img01.png) repeat;
	border-radius: 10px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14pt;
	font-weight: 200;
	color: #FFFFFF;
}*/


/*NENAD*/


.button-style{
    float:right;
}

/*.button-REG-style{
 
     background: url(images/img01.png) repeat;
         width: 134px;
    height: 50px;
    margin-top: 10px;
    margin-right: 110px;
    margin-bottom: 20px;
    background: url(images/img01.png) repeat;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    font-weight: 200;
    color: #FFFFFF;
}*/


.button-style a, .order button {
	display: inline-block;
        width: 134px;
	height: 50px;
	margin-top: 10px;
        margin-right:110px;
        margin-bottom:20px;
	background: url(images/img01.png) repeat;
	border-radius: 10px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 12pt;
	font-weight: 200;
	color: #FFFFFF;

}
.heightSec{
    height: 550px;
}

.opis{
    margin-bottom:80px;
    font-size: 16px;
}
.cena{
    margin-left:70px;
    font-size: 18px;
    
}
.iznos{
    font-weight: bold;
    font-size: 18px;
}
.aboveImg{
    margin-bottom:10px;
}

.tableLayout{
    width:80%;
     border-collapse: collapse;
     margin-top:100px;
     margin-bottom: 50px;
     margin-left:70px;
    
}

.tableLayout th, .tableLayout td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align:center;
    vertical-align: middle;
}

.tableLayout tr:nth-child(even){background-color: #f2f2f2;}

.tableLayout tr :hover {background-color: #ddd;}

.tableLayout th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    height:20px;
}
.tableLayout tr{
    
    
}
#del{
    width:10%;
}
#naz{
    width:25%;
}
#opis{
    width:50%;
}
#cena{
    width:15%;
}

.order {    
        float:right;
        margin-top:50px;
   
}

/*.centerForm{
    margin:2% 38%;
    width:25%;
}*/

/*form*/

.form-style-9{
    max-width: 550px;
    background: #FAFAFA;
    padding: 30px;
    margin: 100px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
/*    border: 6px solid #737373;*/
    border: 6px solid #00818E;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style-9 ul li  .field-style{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 49%;
}
.form-style-9 ul li .field-full{
    width: 100%;
}
.form-style-9 ul li input.align-left{
    float:left;
}
.form-style-9 ul li input.align-right{
    float:right;
}
.form-style-9 ul li textarea{
    width: 100%;
    height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}



















/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #E6E6E6;
}

ul.style1 li:last-child {
	border-bottom: 0;
}

ul.style1 a {
	display: block;
	padding: 0px 0px 0px 30px;
	background: url(images/img03.png) no-repeat left top;
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover {
	text-decoration: underline;
}

/** LIST STYLE 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 0px 0px 40px 0px;
}

ul.style2 a {
	text-decoration: none;
	color: #525252;
}

ul.style2 a:hover {
	text-decoration: underline;
}

ul.style2 .date {
	display: inline-block;
	margin: 0px 0px 25px 0px;
	padding: 5px 10px;
	background: url(images/img01.png) repeat;
	letter-spacing: 1px;
	line-height: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #FFFFFF;
}

ul.style2 .date a {
	color: #FFFFFF;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 20px 0px 25px 0px;
}

ul.style3 a {
	display: block;
	text-decoration: none;
	color: #C18062;
}

ul.style3 a:hover {
	text-decoration: underline;
}

ul.style3 .date {
	float: left;
	width: 80px;
	height: 78px;
	margin: 0px 25px 0px 0px;
	padding: 10px 0px 0px 0px;
	background: #D34C0D;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}

ul.style3 .date b {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0;
	letter-spacing: -1px;
	font-size: 40px;
	font-weight: 400;
	color: #FFFFFF;
}

ul.style3 .date a {
	color: #FFFFFF;
}

ul.style3 .date a:hover {
	text-decoration: none;
}

ul.style3 .first {
	padding-top: 0px;
	background: none;
}

/** LIST STYLE 4 */

ul.style4 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style4 li {
	padding: 15px 0px 15px 0px;
	text-shadow: 1px 1px 0px rgba(0,0,0, .3);
	border-top: solid 1px #AC6035;
}

ul.style4 li:first-child {
	border-top: 0;
}

ul.style4 a {
	display: block;
	padding: 0px 0px 0px 30px;
	background: url(images/img09.png) no-repeat left 5px;
	line-height: 160%;
	text-decoration: none;
	color: #F3F1EE;
}

ul.style4 a:hover {
	text-decoration: underline;
}

ul.style4 .first {
	background: none;
	padding-top: 0px;
}




